DEV_USER_EMAIL=lukebrowne@fcat-ecuador.org
DEV_USER_ROLE=super_admin
SUPER_ADMIN_EMAILS=lukebrowne@fcat-ecuador.org
ML_PYTHON_PATH=
DB_PATH=data/portal.db
ALLOWED_EMAILS_PATH=data/allowed_external_emails.txt
